<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mall.user.dal.mapper.CommentReplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mall.user.dal.model.CommentReply">
        <id column="id" property="id" />
        <result column="comment_id" property="commentId" />
        <result column="parent_id" property="parentId" />
        <result column="content" property="content" />
        <result column="reply_time" property="replyTime" />
        <result column="reply_nick" property="replyNick" />
        <result column="user_id" property="userId" />
        <result column="is_deleted" property="isDeleted" />
        <result column="deletion_time" property="deletionTime" />
        <result column="deletion_user_id" property="deletionUserId" />
    </resultMap>

</mapper>
